/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --color-foreground: #1a001a;
  --color-background: #fcf8fc;
  --color-links: #2752df;
  --color-links-hover: #486ff0;
  --color-border: #d0bed0;
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: space-between;
  margin: 0 auto;
  padding: 0.75rem 0;
  width: min(90vw, 700px);
}

nav {
  margin-left: auto;
}

.container {
  margin: 0 auto;
  max-width: min(90vw, 700px);
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

footer {
  font-size: 0.875rem;
  margin-top: 4rem;
  text-align: center;
}

footer a,
footer a:hover {
  color: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
